<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingCertificate</key>
	<string>Apple Distribution: Beijing Shopin Retail Development Co., Ltd. (CUQ7929XKL)</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.shopin.com</key>
		<string>6efb2cee-b71a-417d-bbff-447a278cf75a</string>
	</dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>CUQ7929XKL</string>
	<key>uploadBitcode</key>
	<false/>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
